//Part Number: GW1NR-LV9QN88PC6/I5

// On-board
IO_LOC "clk"    52;
IO_LOC "led[0]" 10;
IO_LOC "led[1]" 11;
IO_LOC "led[2]" 13;
IO_LOC "led[3]" 14;
IO_LOC "led[4]" 15;
IO_LOC "led[5]" 16;
IO_LOC "btn1"    4;
IO_LOC "btn2"    3;

// External (these can be changed)
IO_LOC "spi_cs"         30;
IO_LOC "spi_clk"        29;
IO_LOC "spi_mosi"       28;
IO_LOC "spi_miso"       27;
IO_LOC "encoder_pan_a"  26;
IO_LOC "encoder_pan_b"  25;
IO_LOC "encoder_tilt_a" 39;
IO_LOC "encoder_tilt_b" 36;
IO_LOC "motor_pan_pwm"  85;
IO_LOC "motor_tilt_pwm" 84;
