# Ignore everything
*
# Allow whitelisting subdirectories
!*/
# Don\'t ignore the block design and block design hdl wrapper files
!*.bd
!*.vhd
!bd/**
# Don\'t ignore this file
!.gitignore
!FPGA_projekt.xpr
!PYNQ-Z2_v1.0.xdc
!*.xopp